<template>
  <q-dialog v-model="display">
    <q-card>
      <q-card-section>
        <div class="text-h6">Einladen</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input v-model="name" label="Name" outlined :disable="loading"/>
        <q-input v-model="email" label="Email" outlined :disable="loading"/>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" @click="invite(name, email)" :loading="loading"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useAuthStore } from 'stores/auth';
import { useQuasar } from 'quasar';
import { api } from 'boot/axios';
import { ref, computed } from 'vue';

const props = defineProps({
  display: Boolean
})

const $q = useQuasar();
const emit = defineEmits(['added'])

const name = ref('');
const email = ref('');
const loading = ref(false)
;
const display = computed({
  get() { return props.display },
  set(v) {console.log('SET', v)}
})

function invite(username: string, email: string) {
    console.log('INVITE', username);
    const store = useAuthStore();

    const config = {
      headers: {
        accept: 'application/json',
        Authorization: 'Bearer ' + store.token
      }
    }

    const data = {
      username: username,
      email: email,
      context: {}
    }

    loading.value = true;

    api
      .post('api/passwordless/send-link', data, config)
      .then((response) => {
        if (response.data.error) {
          sendLinkFailed
        }else {
          emit('added');
        }
      })
      .catch((e) => {
        console.log('ERROR', e)
      })
      .finally(() => {
        loading.value = false;
      });
}

function sendLinkFailed(data) {
  console.debug(data);
  $q.notify({
    message: 'Send Mail failed. ' + data.data.error.message,
    color: 'red',
    type: 'negative',
    position: 'top',
  });
}
console.log(props.display)

</script>
