<template>
  <q-table
    title="Gästeliste"
    :rows="result"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width"
    @request="listGuests"
  >
    <template #body="props">
      <q-tr>
        <q-td key="email">
          {{ props.row.email }}
        </q-td>
        <q-td key="email">
          {{ props.row.createdAt }}
        </q-td>
        <q-td key="token">
          {{ props.row.token?.body }}
        </q-td>
        <q-td key="invited">
          {{props.row.id}}
        </q-td>
      </q-tr>
    </template>
    <template #top-right="props">
      <q-input
        v-model="filter"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="300"
        placeholder="suchen"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn
        flat
        round
        dense
        :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
        @click="props.toggleFullscreen"
        class="q-ml-md"
      />
      <q-btn
        flat
        round
        dense
        color="primary"
        icon="add"
        @click="add"
        class="q-ml-md"
      />
    </template>
  </q-table>
</template>

<script setup lang="ts">

import { api } from 'boot/axios';
import { ref, onMounted } from 'vue';
import { useAuthStore } from 'stores/auth';

const isLoading = ref(false);
const filter = ref('');
const result = ref([]);
const paginator = ref({});

onMounted(() => {
  result.value = listGuests();
})

const columns = [
  { name: 'email', align: 'left', label: 'Email', field: 'email', sortable: true },
  { name: 'createdAt', align: 'left', label: 'Datum', field: 'createdAt', sortable: false },
  { name: 'token', align: 'left', label: 'Token', field: 'token', sortable: false },
];


const emit = defineEmits(['add:user', 'add'])

function listGuests() {

  isLoading.value = true;
  const store = useAuthStore();

  const config ={
    headers: {
      accept: 'application/json',
      Authorization: 'Bearer ' + store.token
    }
  }

  api
    .get('/content-manager/collection-types/plugin::passwordless.token',config).then((response) => {
      result.value = response.data.results;
      paginator.value = response.data.pagination;
    })
    .catch((e) => {
      console.log(e)
    })
    .finally(() => {
      isLoading.value = false;
    });
}

function add() {
  emit('add')
}

</script>
