<template>
  <q-btn @click="invite(props.username)">Invite</q-btn>
</template>

<script setup lang="ts">
  import { useAuthStore } from 'stores/auth';
  import { api } from 'boot/axios';
  import { ref } from "vue";

  const props = defineProps({
   username: String
  })

  const loading = ref(false)

  function invite(username: string) {
    console.log('INVITE', username);
    const store = useAuthStore();

    const config = {
      headers: {
        accept: 'application/json',
        Authorization: 'Bearer ' + store.token
      }
    }

    const data = {
      username: username
    }

    console.log('CONFIG:', config, 'DATA:' , data)
    loading.value = true;

    api
      .post('api/passwordless/send-link', data, config)
      .then((response) => {

        console.log("RESPONSE",response.data)
      })
      .catch((e) => {
        console.log(e)
      })
      .finally(() => {
        loading.value = false;
      });
}
</script>
