<template>
  <q-table
    v-model:pagination="pagination"
    title="Gästeliste"
    :rows="result"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width"
    @request="listGuests"
    :rows-per-page-options="rowsPerPageOptions"
    binary-state-sort
    row-key="id"
    ref="tableRef"
  >
    <template #body="props">
      <q-tr>
        <q-td key="name">
          {{ props.row.username }}
        </q-td>
        <q-td key="confirmed">
          {{ props.row.confirmed ? "Ja" : "Nein" }}
        </q-td>
        <q-td key="token">
          {{ props.row.feedback?.confirmed === true ? 'Ja' : ( props.row.feedback?.confirmed === false ? 'Nein' : '?')}}
        </q-td>
        <q-td key="token">
          {{ props.row.feedback?.partyOnly === true ? 'Ja' : (props.row.feedback?.partyOnly ? 'Nein' : '?') }}
        </q-td>
      </q-tr>
    </template>
    <template #top-right="props">
      <q-input
        v-model="filter"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        placeholder="suchen"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn
        flat
        round
        dense
        :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
        @click="props.toggleFullscreen"
        class="q-ml-md"
      />
    </template>
  </q-table>
</template>

<script setup lang="ts">

import { api } from 'boot/axios';
import { ref, onMounted } from 'vue';
import { useAuthStore } from 'stores/auth';

const isLoading = ref(false);
const filter = ref('');
const rowsPerPageOptions = ref([10,25,50]);
const result = ref([]);
const store = useAuthStore();
const paginator = ref({});
const pagination = ref({
  sortBy: 'username',
  descending: false,
  page: 1,
  rowsPerPage: 25,
  rowsNumber: 25,
});


onMounted(() => {
  result.value = listGuests({filter: undefined, pagination: pagination});
})

const columns = [
  { name: 'username', align: 'left', label: 'Name', field: 'name', sortable: true },
  { name: 'confirmed', align: 'left', label: 'angesehen', field: 'confirmed', sortable: true },
  { name: 'token', align: 'left', label: 'kommt', field: 'token', sortable: false },
  { name: 'walking', align: 'left', label: 'wandert', field: 'partyOnly', sortable: false },
];

function listGuests(props) {
  isLoading.value = true;

  let config = {
    headers: {
      accept: 'application/json',
      Authorization: 'Bearer ' + store.token
    },
    params: {
      populate: '*',
    }
  }

  if (props.pagination.sortBy) {
    config.params.sort = props.pagination.sortBy + ':' + (props.pagination.descending ? 'desc' : 'asc');
  }

  if (props.filter) {
    config.params._q = props.filter;
  }

  api
    .get('api/users',config).then((response) => {
      result.value = response.data;
      paginator.value = response.data.pagination;
    })
    .catch((e) => {
      console.log(e)
    })
    .finally(() => {
      isLoading.value = false;
    });
}

</script>
