<template>
  <div>
    <q-item v-close-popup clickable to="/invitations">
      <q-item-section avatar>
        <q-avatar
          color="secondary"
          size="sm"
          text-color="white"
          icon="people"
        />
      </q-item-section>
      <q-item-section>Gästeliste</q-item-section>
    </q-item>
    <q-item v-close-popup clickable to="/welcome">
      <q-item-section avatar>
        <q-avatar
          color="secondary"
          size="sm"
          text-color="white"
          icon="question_mark"
        />
      </q-item-section>
      <q-item-section>Fragen</q-item-section>
    </q-item>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'UserMenu',
});
</script>
