<!--

mail is sent to the review team.
 
-->
<mjml>

  <mj-include path="./head.mjml" />

  <mj-body background-color="#eee">

    <mj-include path="./header.party.mjml" />

    <mj-section background-color="#fff">

      <mj-column>
        <mj-text align="left">
          <p>
	    Hallo ${ USER.username },
          </p>
          <p>
            meinen Geburtstag möchte ich diesmal im Landgasthof zur Quelle in Aufenau 
            feiern. Damit das Team dort planen kann, brauche ich Zusagen oder Absagen 
            möglichst bis Ende der Woche. Und damit die Planung reibungslos funktioniert, 
            bitte ich dich auf den Link zu klicken. 
          </p>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fff">
      <mj-column>
        <mj-button href="${ URL }?loginToken=${ CODE }" font-family="Helvetica" background-color="#5498D7" color="white">
          zu den Fragen
        </mj-button>
      </mj-column>
    </mj-section>

    <mj-include path="./footer.party.mjml" />

  </mj-body>

</mjml>
