<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Wer kommt zu meiner Party?
        </q-toolbar-title>
        <LoginStrapi />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Wenn du auch ne Party planst ...
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import EssentialLink, { EssentialLinkProps } from 'components/EssentialLink.vue';
import LoginStrapi from 'components/LoginStrapi.vue';


const essentialLinks: EssentialLinkProps[] = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://gitlab.com/cbleek/wer-kommt-zu-meiner-party/-/blob/main/README.md'
  },
  {
    title: 'Gitlab',
    caption: 'hier liegen die Quellen',
    icon: 'code',
    link: 'https://gitlab.com/cbleek/wer-kommt-zu-meiner-party'
  },
  {
    title: 'Forum',
    caption: 'Issues auf Gitlab',
    icon: 'record_voice_over',
    link: 'https://gitlab.com/cbleek/wer-kommt-zu-meiner-party/-/issues'
  }
];

const leftDrawerOpen = ref(false)

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>
