<template>
  <q-page class="row items-center justify-evenly">
    <GuestsTable @add="add" />
    <AddGuestDialog :display="display" @added="display=false"/>
  </q-page>
</template>

<script setup lang="ts">

import GuestsTable from 'components/GuestsTable.vue';
import AddGuestDialog from 'components/AddGuestDialog.vue';
import { ref } from 'vue';

const display = ref(false);

function add() {
  display.value = true;
  console.log('Add clicked', display);
}

</script>
