<template>
  <q-page class="row items-center justify-evenly">
    <h1>Party</h1>
    <h2>Login geht nur mit dem Links aus der Mail.</h2>
    <h1>02.10.2022 in Gasthof zur Quelle</h1>
    <h2>Du bist nicht angemeldet:-(</h2>
  </q-page>
</template>
