<template>
  <q-page padding>
    <h3>Hallo {{ user.username || 'lieber Gast' }}</h3>
    <h6>
      Gefeiert wird am 02.10 im Landgasthof zur Quelle. Uhrzeit:
      {{feedback.partyOnly === '' ? 'kommt drauf an...' : feedback.partyOnly ? '16:00' : '19:00'}}
    </h6>
    <div class="row">
      <q-list v-if="isLoggedIn" class="col-md-6">
        <q-item tag="label" v-ripple>
          <q-item-section avatar top style="min-width: 100px;">
            <q-toggle
              size="xl"
              v-model="feedback.confirmed"
              color="green"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Bist du dabei?</q-item-label>
            <q-item-label caption>
              {{feedback.confirmed === '' ? 'Kommst du, oder kommst du nicht?'
                : (feedback.confirmed ? 'Ja, ich komme'
                  : 'Nein, ich kann leider nicht')}}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item tag="label" v-ripple>
          <q-item-section avatar top style="min-width: 100px;">
            <q-toggle
              size="xl"
              v-model="feedback.partyOnly"
              color="green"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Aufenau kennenlernen?</q-item-label>
            <q-item-label caption>
              {{ feedback.partyOnly === '' ? 'Möchtest du etwas wandern, oder kommst du später?'
                : (feedback.partyOnly ? 'Ja, ich möchte den Rundwanderweg mitgehen und komme schon um 16:00!'
                  : 'Nein, ich komme erst zum Abendessen um 19:00 dazu.')}}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item tag="label" v-ripple>
          <q-item-section avatar top style="min-width: 100px;">
            <q-select :disable="feedback.confirmed === false" outlined v-model="feedback.roomNeeded" :options="['EZ','DZ','--']"></q-select>
          </q-item-section>
          <q-item-section>
            <q-item-label>Brauchst du ein Zimmer?</q-item-label>
            <q-item-label caption>
              {{ feedback.roomNeeded === '--' ? 'Nein, ich brauche kein Zimmer'
                : (feedback.roomNeeded == 'EZ' ? 'Ja, möchte ein Einzelzimmer?'
                  : 'Ja, Ich brauche ein Doppelzimmer')}}
              </q-item-label>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <div>
              <q-input
                v-model="feedback.chat"
                outlined
                placeholder="ich freue mich über eine Nachricht ..."
                autogrow
              />
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-btn
              :disabled="feedback.confirmed === undefined"
              size="xl"
              no-caps
              color="primary"
              rounded
              glossy
              label="Antworten abschicken"
              class="q-mb-xl"
              @click="submit(feedback)"
            >
            </q-btn>
          </q-item-section>
        </q-item>
      </q-list>
      <q-banner v-else class="bg-primary text-white">
        Leider weiß ich nicht, wer du bist. Eigentlich hat jeder einen personalisierten
        Link bekommen. Aber den Link, den du benutzt, kenne ich nicht.
        <template v-slot:action>
          <q-btn flat color="white" label="OK" />
        </template>
      </q-banner>
      <div v-if="isLoggedIn" class="col-md-6">
        <q-card class="my-card">
          <q-carousel
            animated
            v-model="slide"
            arrows
            control-color="white"
            navigation
            swipeable
            infinite
          >
            <q-carousel-slide :name="1" img-src="/hotel/bild2.jpg">
              <q-icon class="absolute all-pointer-events" size="32px" name="info" color="white" style="top: 8px; left: 8px">
                <q-tooltip>
                  Der Gasthof mir 30 Zimmern
                </q-tooltip>
              </q-icon>
            </q-carousel-slide>
            <q-carousel-slide :name="2" img-src="/hotel/bild3.jpg" />
            <q-carousel-slide :name="3" img-src="/hotel/bild1.jpg" />
            <q-carousel-slide :name="4" img-src="/hotel/bild4.jpg" />
            <q-carousel-slide :name="5" class="column no-wrap">
              <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
                <q-img class="rounded-borders col-6 full-height" src="/hotel/bild5.jpg" />
                <q-img class="rounded-borders col-6 full-height" src="/hotel/bild6.jpg" />
              </div>
            </q-carousel-slide>

          </q-carousel>
          <q-card-section>
            <q-btn
              fab
              color="primary"
              icon="place"
              class="absolute"
              style="top: 0; right: 12px; transform: translateY(-50%);"
              type="a"
              href="https://goo.gl/maps/2wzmQy2mcRVLm8JL6"
            />

            <div class="row no-wrap items-center">
              <div class="col text-h6 ellipsis">
                Landgasthof zur Quelle
              </div>
              <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
                <q-icon name="place" />
                Aufenau
              </div>
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="text-subtitle1">
              Hier wird gefeiert.
            </div>
            <div class="text-caption text-grey">
              Die Wanderwilligen treffen sich am 02.10.2022 gegen 16:00 am Gasthof. Wir nehmen
              dann die Aufenauer Berg-und-Tal-Spur und erhaschen oben einen Blick auf Bad Orb.
              Dann geht's in den Gasthof.
            </div>
            <div class="text-caption text-grey">
              Dort stoßen wir auf den Rest.
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">

import { ref, computed, onMounted, watch } from 'vue';
import { api } from 'boot/axios';
import { useQuasar } from 'quasar';
import { useRouter } from 'vue-router';
import { useAuthStore } from 'stores/auth';

const router = useRouter()
const store = useAuthStore();
const user = ref({});
const feedback = ref ({
  confirmend: undefined,
  roomNeeded: '--',
  partyOnly: undefined,
  chat: undefined
});
const loading = ref(false);
const slide = ref(1);
const $q = useQuasar();

const token = computed({
  get() {
    const route = router.currentRoute;
    return route.value.query?.loginToken;
  },
  set(v) { console.log(v); }
});

const isLoggedIn = computed({
  get() { return store.isLoggedIn },
  set(v) { store.isLoggedIn = v; }
});

onMounted(() => {
  if (!store.isLoggedIn) {
    user.value = login();
  }else {
    user.value = store.user;
    getFeedback()
  }
  router.replace({ query: undefined });
})

watch(() => store.isLoggedIn, (newValue) => {
  if (newValue === true) {
    getFeedback();
    user.value = store.user;
  }
})

function feedbackSuccess() {
  $q.notify({
    message: 'Danke für Dein Feedback!',
    color: 'green',
    type: 'positive',
    position: 'top',
  });
}

function login() {
  const config = {
    headers: {
      accept: 'application/json'
    }
  }

  loading.value = true;

  api
    .get('api/passwordless/login?loginToken=' + token.value, config)
    .then((response) => {
      user.value = response.data.user
      store.token = response.data.jwt;
      store.user = response.data.user;
      store.isLoggedIn = true;
    })
    .catch((e) => {
      console.log(e)
    })
    .finally(() => {
      loading.value = false;
    });
  return store.user;
}

function getFeedback() {

  const config = {
    headers: {
      accept: 'application/json',
      Authorization: 'Bearer ' + store.token
    }
  }

  api
    .get('api/feedbacks/my', config)
    .then((response) => {
      if (response.data != '') {
        feedback.value = response.data;
      }
    })
    .catch((e) => {
      console.log(e)
    })
    .finally(() => {
      console.log('finally')
    });
  return feedback;
}

function submit(data: {confirmed: boolean, partyOnly: boolean, roomNeeded: string}) {
  const config = {
    headers: {
      accept: 'application/json',
      Authorization: 'Bearer ' + store.token
    }
  }

  loading.value = true;

  api
    .post('api/feedbacks', {data: data}, config)
    .then((response) => {
      console.log(response)
      loading.value = false;
      feedbackSuccess();
    })
    .catch((e) => {
      console.log(e)
    })
  return store.user;
}


</script>
